/*
	Prologue 1.2 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 16pt;
	}

	h2
	{
	}

		h2 br
		{
			display: none;
		}

	.container
	{
		padding: 0 2em 0 2em;
	}

	/* Item */
	
		.item
		{
			margin-bottom: 15px;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
#sidebar .group
  {
    visibility: visible;
    display: block;
  }

  #header .group
  {
    visibility: hidden;
    display: none;
  }
  #active-channel-name {
    padding: 0 0 0 6rem;
  }
	#sidebar
	{
    top: 0;
		position: relative;
		background: none !important;
		box-shadow: none !important;
	}
	
		#sidebar .top
		{
			position: relative;
		}
	
		#sidebar .bottom
		{
			box-shadow: 0 -1px 0 0 rgba(0,0,0,0.15);
			margin-top: 1em;
			position: relative;
      bottom: 0;
		}

	.group
	{
		padding: 1em 1.25em 1.25em 1.5em;
	}

	#nav
	{
	}
	
		#nav ul
		{
		}
		
			#nav ul li
			{
			}
			
				#nav ul li a
				{
					
				}

        #channel-list span.unread {    
          top: 0.5em; /*0.5 * parent line-height */
          font-size: 0.8em;
          line-height: 1em;    
        }

#footer {
  left: 0;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/


/*********************************************************************************/
/* Side Panel                                                                    */
/*********************************************************************************/

	#sidePanel
	{
		background: #222729 url('images/overlay.png');
		box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
	}

	#sidePanelToggle
	{
	}
	
		#sidePanelToggle .toggle
		{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(128,136,144,0.5) url('images/toggle.svg') center center no-repeat;
			border-radius: 0.35em;
			margin: 0.25em;
		}